<%- include('../partials/sidebar'); -%>

<div id="container">
  
  <div>
    <a class="btn btn-info mb-3" href="/admin/coursesPlan" role="button"><i class=' bx-sm bx-fw bx bx-arrow-back'></i>Kembali</a>
    <a class="btn btn-secondary mb-3" onclick="window.open('/admin/cetakCplCpmk')" role="button"><i class=' bx-sm bx-fw bx bx-printer'></i></a>
    
   </div>
   <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="text-center" scope="col">No</th>
        <th class="text-center" scope="col" >CP Program Studi</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CP-1</td>
        <td>Mengidentifikasi, memformulasikan dan memecahkan  permasalahan kebutuhan informasi dari suatu organisasi
        </td>
      </tr>
      <tr>
        <td>CP-2</td>
        <td> Mengintegrasikan solusi berbasis teknologi informasi secara efektif pada suatu organisasi
        </td>
      </tr>
      <tr>
        <td>CP-3</td>
        <td>  
          Menerapkan konsep-konsep dasar dalam merencanakan Sistem Informasi, merancang Sistem Informasi, membangun Sistem Informasi, mengoperasikan Sistem Informasi, dan mengevaluasi Sistem Informasi 
        </td>
      </tr>
     
  </tbody>
  </table>



    <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th class="text-center" scope="col"></th>
            <th class="text-center" scope="col">Capaian Pembelajaran Mata Kuliah (CPMK)</th>
            <th class="text-center" scope="col">CP-1</th>
            <th class="text-center" scope="col">CP-2</th>
            <th class="text-center" scope="col">CP-3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mahasiswa mampu menjelaskan konsep dasar dan komponen aplikasi berbasis web (CP-1, CP-2)</td>
            <td><i class='bx-fw bx-sm bx bx-check'></i></td>
            <td><i class='bx-fw bx-sm bx bx-check'></i></td>
            <td></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Mahasiswa mampu menggunakan salah satu technology stack untuk membangun aplikasi berbasis web (CP-1, CP-2)</td>
            <td><i class='bx-fw bx-sm bx bx-check'></i></td>
            <td><i class='bx-fw bx-sm bx bx-check'></i></td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Mahasiswa mampu menggunakan pemograman asynchronous . (CP-2, CP-3)</td>
            <td></td>
            <td><i class='bx-fw bx-sm bx bx-check'></i></td>
            <td><i class='bx-fw bx-sm bx bx-check'></i></td>
          </tr>
          <tr>
            <td>4</td>
            <td>Mahasiswa mampu menerapkan keamanan untuk situs web . (CP-2, CP-3)</td>
            <td></td>
            <td><i class='bx-fw bx-sm bx bx-check'></i></td>
            <td><i class='bx-fw bx-sm bx bx-check'></i></td>
          </tr>
          <tr>
            <td>5</td>
            <td>Mahasiswa mampu menggunakan dan mendesain format data JSON. (CP-2, CP-3)</td>
            <td></td>
            <td><i class='bx-fw bx-sm bx bx-check'></i></td>
            <td><i class='bx-fw bx-sm bx bx-check'></i></td>
          </tr>
          <tr>
            <td>6</td>
            <td>Mahasiswa mampu deploy aplikasi web ke internet. (CP-2)</td>
            <td></td>
            <td><i class='bx-fw bx-sm bx bx-check'></i></td>
            <td></td>
          </tr>
          <tr>
            <td>7</td>
            <td>Mahasiswa mampu mendemonstrasikan keterampilan bekerja sama dengan tim (CP-3)</td>
            <td></td>
            <td></td>
            <td><i class='bx-fw bx-sm bx bx-check'></i></td>
          </tr>

          
      </tbody>
      </table>
</div>
<%- include('../partials/footer'); -%>