</div>
</section>
<script src="/js/script.js"></script>
<!-- <footer>Copyright 2022 Kelompok 2</footer> -->
<script src="/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/js/datatables-simple-demo.js"></script>

</body>
</html>
