<%- include('../partials/sidebar'); -%>

<div id="container">
  <div class="content-wrapper">
      <div class="col-12">
        <span class="d-flex justify-content-between">
          <h1 class="navbar-brand head mb-3">Rencana Pembelajaran Semester (RPS)</h1>
          <div>
            <a href="/dosen/add-course" class="button100-form-btn btn-head">Tambah RPS</a>
            <a href="" target="_blank" class="button100-form-btn btn-head">Revisi RPS</a>
          </div>
        </span>
      </div>
    </div>
    <div class="row all-card">
        <p>RPS anda belum ada
        </p>
      
    </div>
  </div>

  
</div>

<%- include('../partials/footer'); -%>
