<link rel="stylesheet" type="text/css" href="/css/about.css">
<div class="message-box">
   <h1 id="Polygon-3">About</h1>
   <h1> </h1>
  <h1 id="Polygon-1">Boby Darmawan</h1>
  <p id="Polygon-1">2011522019</p>
  <h1 id="Polygon-2">Muhammad Rayhan Rizaldi</h1>
  <p id="Polygon-2">2011522021</p>
  <h1 id="Polygon-3">Annisa Ulfa</h1>
  <p id="Polygon-3">2011522015</p>
  <h1 id="Polygon-4">Dwisuci Insani Karimah</h1>
  <p id="Polygon-4">2011522011</p>
  <h1 id="Polygon-5">Nada Safarina</h1>
  <p id="Polygon-5">2011521025</p>
  <div class="buttons-con">
    <div class="action-link-wrap">
      <a onclick="history.back(-1)" class="link-button link-back-button">Kembali</a>
      <a href="/" class="link-button">Menu Utama</a>
    </div>
  </div>
</div>
