  <%- include('partials/sidebar'); -%>
  
  <div id="container">
    <div class="jumbotron">
      <h1 class="display-4">Selamat Datang</h1><br>
      <a href="#" class="btn bg-light bg-gradient btn-lg " id="user">Get Started</a>
     </div>
  </div>

  <%- include('partials/footer'); -%>

