
  <%- include('partials/sidebar'); -%>
  
  <div class="py-5">
    <div class="container">
      <div class="row hidden-md-up">
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-body">
              <img src="images/frame.png" class="card-img-top" alt="...">
              <h4 class="card-title">Pemrograman Web</h4>
              <h6 class="card-subtitle text-muted">Semester 5</h6>
              <a href="/dosen/rps" class="card-link">Lihat</a>
              <a href="#" class="card-link">Tambah</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-body">
              <img src="images/frame.png" class="card-img-top" alt="...">
              <h4 class="card-title">Analisis Visualisasi Data</h4>
              <h6 class="card-subtitle text-muted">Semester 5</h6>
              <a href="/dosen/rps" class="card-link">Lihat</a>
              <a href="#" class="card-link">Tambah</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-body">
              <img src="images/frame.png" class="card-img-top" alt="...">
              <h4 class="card-title">Rekayasa Perangkat lunak</h4>
              <h6 class="card-subtitle text-muted">Semester 5</h6>
              <a href="/dosen/list-rps/rps" class="card-link">Lihat</a>
              <a href="#" class="card-link">Tambah</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <%- include('partials/footer'); -%>

